
<p-table [value]="users" [responsive]="true" [autoLayout]="true">
  <ng-template pTemplate="caption">
    Lista utilizatorilor
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Rol</th>
          <th></th>
          <th></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.role}}</td>
          <td>
              <button pButton type="button" class="ui-button-info" icon="pi pi-pencil"
              pTooltip="Editează" tooltipPosition="top" placeholder="Top"
              (click)="editUserClick(user.id)"></button>
          </td>
          <td>
              <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
              <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
              pTooltip="Șterge" tooltipPosition="top" placeholder="Top"
              (click)="confirm(user)"></button>
          </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align: left">
      <button pButton type="button" icon="pi pi-user-plus" label="Adaugă utilizator" routerLink='/admin/newuser'></button>
    </div>
  </ng-template>
</p-table>