<p-table [value]="medics" [responsive]="true" [autoLayout]="true">
  <ng-template pTemplate="caption">
    Lista medicilor
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Id</th>
          <th>Nume</th>
          <th>Cod parafă</th>
          <th>Specialitate</th>
          <th>Data angajării</th>
          <th>Email</th>
          <th></th>
          
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-medic>
      <tr>
          <td>{{medic.id}}</td>
          <td>{{medic.nume}}</td>
          <td>{{medic.codParafa}}</td>
          <td>{{medic.specialitate}}</td>
          <td>{{medic.dataAngajarii}}</td>
          <td>{{medic.email}}</td>
          <td>
              <button pButton type="button" class="ui-button-info" icon="pi pi-pencil"
              pTooltip="Editează" tooltipPosition="top" placeholder="Top"
              (click)="editMedicClick(medic.id)"></button>
          </td>
         
      </tr>
  </ng-template>

</p-table>

